.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.input-field{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}